@import "../../../theme/theme";
:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
section {
  padding: 2em 4em;
  flex-basis: 100%;
}

footer {
  background-color: mat-color($primary, 700);
  display: block;
  
  .details {
    padding: 2em 0;
    width: 85%;
    margin: 0 auto;
    h3 {
      margin: 0;
    }
  }

  .author {
    background-color: mat-color($primary, 800);
    
    .container {
      font-weight: 300;
      width: 85%;
      margin: 0 auto;
      min-height: 50px;
      display: flex;
      align-items: center;

      a {
        color: #cfd8dc;
      }
    }

  }
  
}