<app-header></app-header>
<app-loading></app-loading>

<section>
  <router-outlet></router-outlet>
</section>

<footer>
  <div class="details">
    <h3>Games You Own</h3>
    <small>A single page app developed in Angular powered by Angular Material</small>
  </div>
  <div class="author">
    <div class="container">
      Developed by <a href="http://github.com/dudevictor" target="_blank">José Victor</a>
    </div>
  </div>
</footer>