<h1 mat-dialog-title>Confirm delete</h1>

<div mat-dialog-content>
  Are you sure wou want delete {{data.info?.name}} from your game catalog?
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Confirm</button>
</div>