
.loading {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1000;
  top: 0;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: #FFF;
  opacity: 0.6;

  &.hide {
    display: none;
  }
  
}