$tileWidth: 250px;
$tileHeight: ($tileWidth / (16/9));
$duration: 450ms;
$growFactor: 1.4;

$moveLeft: -($tileWidth * ($growFactor - 1) / 6);

:host {
  margin-top: 2em;
}

.games-carousel {

  .no-data {
    text-align: center;
  }
  
  .row {
    display: flex;;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    transition: $duration transform;
    font-size: 0;
    padding-bottom: 0px;

    &:hover .tile {
      opacity: 0.3;
    }


    .tile {
      overflow: hidden;
      position: relative;
      display: inline-block;
      width: $tileWidth;
      height: $tileHeight;
      margin: 0 0.3em;
      margin-bottom: 0.6em;
      font-size: 20px;
      cursor: pointer;
      transition: $duration all;
      transform-origin: center left;
    
    
      &:hover {
        transform: scale($growFactor) translate3d($moveLeft, 0, 0);
        opacity: 1;
        z-index: 1;
      }
    
      .media {
        display: flex;
        align-items: center;
        justify-content: center;
        
        .image {
          width: $tileWidth;
          height: $tileHeight;
          object-fit: cover;
        }

      }

      .header {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        color: white;
        top: 0;
        left: 0;
        width: 100%;
        font-size: 10px;

        .background {
          position: absolute;
          background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
          width: 100%;
          height: 100%;
        }

        .release {
          z-index: 1;
          padding: 1em;
        }
  
        .progress {
          z-index: 1;
          padding: 1em;
        }
      }

      .details {
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        color: white;
        bottom: 0;
        left: 0;
        opacity: 1;

        .background {
          position: absolute;
          background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
          width: 100%;
          height: 100%;
        }

    
        .title {
          font-size: 10px;
          z-index: 1;
          padding-left: 10px;
        }

        .platforms {
          font-size: 7px;
          z-index: 1;
          padding-left: 10px;
        }
    
      }

      &:hover {
        opacity: 1;
        .details {
          opacity: 1;
        }
      }
    
    }

  }
}