<section class="games-carousel">
  <div class="row">

    <div class="tile" *ngFor="let game of filteredGames" [routerLink]="['/game', game.id]">
      <div class="media">
        <img class="image" [src]="game.info?.imageUrl ? game.info?.imageUrl : 'https://shorturl.at/tuEM5'" />
      </div>

      <div class="header">
        <div class="background"></div>
        <div class="release">{{game.info?.releasedYear}}</div>
  
        <div class="progress">{{getCompletitionName(game.completitionStatus)}}</div>
      </div>

      <div class="details">
        <div class="background"></div>
        <span class="title">{{game.info?.name}}</span>
        <span class="platforms">{{getPlatformNames(game.info?.console)}}</span>
      </div>
    </div>

  </div>

  <div class="no-data" *ngIf="filteredGames.length === 0">
    <h3>No games found</h3>
  </div>

</section>