@import '~@angular/material/theming';

$primary: mat-palette($mat-cyan, 900);
$accent: mat-palette($mat-blue-grey, 900, A100, A400);
$warn: mat-palette($mat-red);

$theme: mat-dark-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  )
));

.accent {
  color: mat-color($accent) 
}

.primary {
  color: mat-color($primary) 
}

.warn {
  color: mat-color($warn) 
}

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: mat-color(map-get($map: $theme, $key: accent ));
  color: mat-color(map-get($theme, foreground), text)
 }