$tileWidth: 250px;
$tileHeight: ($tileWidth / (16/9));

.field {
  width: 100%;
}
.option {
  margin: 1em;
  .spinner {
    margin-left: calc(50% - 25px);
  }
}

.selectedGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .media {
    display: flex;
    align-items: center;
    justify-content: center;
    
    .image {
      width: $tileWidth;
      height: $tileHeight;
      object-fit: cover;
    }
  }
  
}


