<form [formGroup]="form">
  <mat-form-field class="field">
    <input matInput placeholder="Type to search for a game" [matAutocomplete]="auto" formControlName="input">
  </mat-form-field>

  <mat-autocomplete #auto="matAutocomplete" [displayWith]="display">

    <mat-option *ngIf="isLoading" class="option">
      <mat-spinner class="spinner" diameter="50"></mat-spinner>
    </mat-option>

    <ng-container *ngIf="!isLoading">
      <mat-option *ngFor="let game of filtered" [value]="game">
        <span>{{ display(game) }}</span>
      </mat-option>
    </ng-container>
  </mat-autocomplete>

  <div class="selectedGame" *ngIf="form.controls['selectedGame']?.value != null">
    <div class="media">
      <img class="image" [src]="form.controls['selectedGame']?.value.imageUrl" />
    </div>
    <span> {{ display(form.controls['selectedGame']?.value) }} </span>
    <span> {{ displayPlatforms(form.controls['selectedGame']?.value.console) }} </span>
  </div>

</form>