button {
  margin-right: 1em;
  vertical-align: middle;
}

.form-content {
  display: flex;
  flex-direction: column;
  > * {
    margin-top: 1em
  }

  small.warn {
    margin-top: 0;
  }
}

.date-picker {
  &, span, label, input {
    cursor: pointer;
  }
}

.radio-group {
  > * {
    margin-right: 1em;
  }
}