<form [formGroup]="form" (ngSubmit)="onSubmit()" #formDir="ngForm">
  <mat-card>

    <mat-card-header>
      <mat-card-title>Game Form</mat-card-title>
      <mat-card-subtitle>Register or edit a game</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="form-content">

      <app-select-game formControlName="info"></app-select-game>
      <small class="warn" *ngIf="form.controls.info?.invalid && (formDir.submitted || form.controls.info?.touched)">
        {{getErrors(form.controls.info?.errors)}}
      </small>

      <label id="label-completition">Status of completition</label>
      <mat-radio-group required aria-labelledby="label-completition" class="radio-group" color="primary" formControlName="completitionStatus">
        <mat-radio-button *ngFor="let status of completitionStatusList" [value]="status.name">
          {{status.text}}
        </mat-radio-button>
      </mat-radio-group>


      <mat-form-field color="primary" appearance="fill" class="date-picker" 
        (click)="datePicker.open()">
        <mat-label>Pick the date of completition</mat-label>
        <input matInput [matDatepicker]="datePicker" readonly formControlName="completitionDate">
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
      </mat-form-field>

      <small class="warn" *ngIf="form.controls.completitionDate?.invalid && (formDir.submitted || form.controls.completitionDate.touched)">
        {{getErrors(form.controls.completitionDate?.errors)}}
      </small>


      <mat-form-field color="text" appearance="fill" class="textarea">
        <mat-label>Personal Notes:</mat-label>
        <textarea maxlength="200" required matInput formControlName="personalNotes"></textarea>
      </mat-form-field>

      <small class="warn" *ngIf="form.controls.personalNotes?.invalid && (formDir.submitted || form.controls.personalNotes.touched)">
        This field is required.
      </small>

    </mat-card-content>

    <mat-card-actions>
      <button mat-flat-button color="accent" routerLink="/">
        Cancel
      </button>

      <button mat-flat-button color="warn" *ngIf="form.controls.id.value != ''" (click)="delete($event)">
        Delete
      </button>

      <button type="submit" mat-flat-button color="primary">
        Save
      </button>
    
    </mat-card-actions>

  </mat-card>
</form>