<app-search-bar></app-search-bar>
<app-games-carousel></app-games-carousel>

<button mat-fab color="primary" class="btnAddGame" matTooltip="+ New Game" routerLink="/game">
  <mat-icon>gamepad</mat-icon>
</button>