
.search-bar-card {
  max-width: 100%;
  padding-left: 2em;
  padding-right: 2em;

  .search-bar-content {
    display: flex;
    flex-direction: column;
    
    > * {
      flex-basis: 100%;
    }
  }

}