<form [formGroup]="form">

  <mat-card class="search-bar-card">

    <mat-card-content class="search-bar-content">

      <mat-form-field class="input">
        <mat-label>Type to find a game</mat-label>
        <input matInput type="text" formControlName="input">

        <button mat-button *ngIf="form.controls.input?.value" matSuffix mat-icon-button 
                aria-label="Clear" (click)="clearInput()">
          <mat-icon>close</mat-icon>
        </button>

      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Choose a console</mat-label>
        <mat-select formControlName="console">
          <mat-option value="">All</mat-option>
          <mat-option *ngFor="let platform of platforms" [value]="platform.name">
            {{platform.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>



    </mat-card-content>

  </mat-card>



</form>